.spinner {
	animation: spin 1s linear infinite;
	color: var(--color-accent);
	fill: none;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

.sm {
	height: 1rem;
	width: 1rem;
}

.md {
	height: 1.5rem;
	width: 1.5rem;
}

.lg {
	height: 2rem;
	width: 2rem;
}

.circle {
	opacity: 0.25;
}

.path {
	opacity: 0.75;
}
